In [1]:
import sys
print(f'Interpreter dir: {sys.executable}')
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('../')
    
print(f'Working dir: {os.getcwd()}')
%load_ext autoreload
%autoreload 2

Interpreter dir: /Users/jsg/Documents/GitHub/water_hackathlon/.venv_waterhack/bin/python3
Working dir: /Users/jsg/Documents/GitHub/water_hackathlon

In [2]:
import pandas as pd

# Explore AW dataset

In [17]:
df_DMAleaks = pd.read_csv('data/raw/DMALeaks.csv')

# There are extra commas :/ lets merge extra column
df_DMAleaks['DMAName'] = df_DMAleaks['DMAName'].combine_first(df_DMAleaks['AUX'])
df_DMAleaks = df_DMAleaks.drop('AUX', axis=1)
df_DMAleaks

              DateRaised                        LeakType   DMAName
0    2018-11-19 12:13:21            Other Repaired Leaks  NEWCENMA
1    2018-02-12 20:39:37                       BurstMain  NORCRDMA
2    2020-08-13 10:43:46                            BTBB  NORW37MA
3    2017-02-24 08:39:14            Other Repaired Leaks  NEWSEVMA
4    2019-02-21 12:26:52  Stop Tap/ Atplas (Fix On Site)  NEWSEVMA
..                   ...                             ...       ...
703  2020-05-15 07:50:10         Washout (Fixed On Site)  NEWCENMA
704  2020-07-22 12:03:48           Comm Pipe (before ST)  NEWSEVMA
705  2018-12-10 11:43:13               Stop Tap / Atplas  NEWCENMA
706  2019-08-09 14:37:52                            BTBB  NEWSEVMA
707  2019-11-03 19:43:03            Other Repaired Leaks  NEWSEVMA

[708 rows x 3 columns]

In [18]:
df_DMAleaks.groupby('DMAName').count()

               DateRaised  LeakType
DMAName
 <12" (300mm)           2         2
 and above              2         2
 not BTBB)              2         2
BLOFLDMA               51        51
NEWCENMA              159       159
NEWSEVMA              247       247
NEWSTUMA               27        27
NORCRDMA               22        22
NORFIFMA               39        39
NORW18MA               13        13
NORW21MA               73        73
NORW37MA               42        42
SWALSHMA               29        29

- Something is funny with a couple of entried - fix manually