In [1]:
import sys
print(f'Interpreter dir: {sys.executable}')
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('../')
    
print(f'Working dir: {os.getcwd()}')
%load_ext autoreload
%autoreload 2

Interpreter dir: /Users/jsg/Documents/GitHub/water_hackathlon/.venv_waterhack/bin/python3
Working dir: /Users/jsg/Documents/GitHub/water_hackathlon

In [12]:
import pandas as pd
from pandas_profiling import ProfileReport

# Explore AW dataset

In [5]:
df_DMAleaks = pd.read_csv('data/raw/DMALeaks.csv')

# There are extra commas :/ lets merge extra column
df_DMAleaks['DMAName'] = df_DMAleaks['DMAName'].combine_first(df_DMAleaks['AUX'])
df_DMAleaks = df_DMAleaks.drop('AUX', axis=1)
df_DMAleaks

              DateRaised                        LeakType   DMAName
0    2018-11-19 12:13:21            Other Repaired Leaks  NEWCENMA
1    2018-02-12 20:39:37                       BurstMain  NORCRDMA
2    2020-08-13 10:43:46                            BTBB  NORW37MA
3    2017-02-24 08:39:14            Other Repaired Leaks  NEWSEVMA
4    2019-02-21 12:26:52  Stop Tap/ Atplas (Fix On Site)  NEWSEVMA
..                   ...                             ...       ...
703  2020-05-15 07:50:10         Washout (Fixed On Site)  NEWCENMA
704  2020-07-22 12:03:48           Comm Pipe (before ST)  NEWSEVMA
705  2018-12-10 11:43:13               Stop Tap / Atplas  NEWCENMA
706  2019-08-09 14:37:52                            BTBB  NEWSEVMA
707  2019-11-03 19:43:03            Other Repaired Leaks  NEWSEVMA

[708 rows x 3 columns]

In [6]:
df_DMAleaks.groupby('DMAName').count()

          DateRaised  LeakType
DMAName
BLOFLDMA          51        51
NEWCENMA         161       161
NEWSEVMA         247       247
NEWSTUMA          28        28
NORCRDMA          23        23
NORFIFMA          40        40
NORW18MA          13        13
NORW21MA          73        73
NORW37MA          42        42
SWALSHMA          30        30

- Something is funny with a couple of entries, due to an extra comma in the LeakType - fixed manually

# Prepare a dataset for classification problem

The target is the leakage at DMA level, which is a binary variable. We can organize the work as follows:
1. Find the times when a leakage was raised. Mark with 1
2. Add a new column, with a few hours ebfore and after that indicates is_leakage
3. We can predict that, or we can predict a (probabbly( easier target one that says "There is a leakage today"

On the features side, we need to align:
- Inflow
- Pressure
- ...
- Feature engineered columns (past values, moving average, ...)

# Prepare features dataset

In [10]:
df_p = pd.read_csv('data/raw/DMA15MinPressure.csv')
print(df_p.info())
df_p

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005975 entries, 0 to 1005974
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   DMA        1005975 non-null  object
 1   Timestamp  1005975 non-null  object
 2   Value      1005975 non-null  float64
dtypes: float64(1), object(2)
memory usage: 23.0+ MB
None

              DMA                    Timestamp     Value
0        BLOFLDMA  2019-03-25 00:00:00.0000000  4.952223
1        BLOFLDMA  2019-03-25 00:15:00.0000000  4.854159
2        BLOFLDMA  2019-03-25 00:30:00.0000000  4.805128
3        BLOFLDMA  2019-03-25 00:45:00.0000000  4.952223
4        BLOFLDMA  2019-03-25 01:00:00.0000000  4.903191
...           ...                          ...       ...
1005970  SWALSHMA  2020-07-31 23:00:00.0000000  0.000000
1005971  SWALSHMA  2020-07-31 23:15:00.0000000  0.000000
1005972  SWALSHMA  2020-07-31 23:30:00.0000000  0.000000
1005973  SWALSHMA  2020-07-31 23:45:00.0000000  0.000000
1005974  SWALSHMA  2020-08-01 00:00:00.0000000  0.000000

[1005975 rows x 3 columns]

In [11]:
df_inf = pd.read_csv('data/raw/DMA15MinNetFLow.csv')
print(df_inf.info())
df_inf

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348712 entries, 0 to 1348711
Data columns (total 3 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   DMA                 1348712 non-null  object
 1   ReferenceTimestamp  1348712 non-null  object
 2   m3Volume            1348712 non-null  float64
dtypes: float64(1), object(2)
memory usage: 30.9+ MB
None

              DMA           ReferenceTimestamp   m3Volume
0        NORW21MA  2016-12-01 00:00:00.0000000   8.094000
1        NORW21MA  2016-12-01 00:15:00.0000000   7.343000
2        NORW21MA  2016-12-01 00:30:00.0000000   6.684000
3        NORW21MA  2016-12-01 00:45:00.0000000   6.835000
4        NORW21MA  2016-12-01 01:00:00.0000000   6.220000
...           ...                          ...        ...
1348707  NEWCENMA  2020-05-20 21:45:00.0000000  21.640001
1348708  NEWCENMA  2020-05-20 22:00:00.0000000  19.190001
1348709  NEWCENMA  2020-05-20 22:15:00.0000000  18.350000
1348710  NEWCENMA  2020-05-20 22:30:00.0000000  17.230001
1348711  NEWCENMA  2020-05-20 22:45:00.0000000  15.060000

[1348712 rows x 3 columns]

In [15]:
#Â Lets merge both
df_m = pd.merge(df_p, df_inf, left_on=['DMA','Timestamp'], right_on=['DMA','ReferenceTimestamp'])

In [23]:
df_m['Timestamp'] = pd.to_datetime(df_m.Timestamp)

In [24]:
ProfileReport(df_m, title="Pandas Profiling Report",progress_bar=False).to_widgets()

/Users/jsg/Documents/GitHub/water_hackathlon/.venv_waterhack/lib/python3.7/site-packages/pandas_profiling/visualisation/plot.py:154: MatplotlibDeprecationWarning: You are modifying the state of a globally registered colormap. In future versions, you will not be able to modify a registered colormap in-place. To remove this warning, you can make a copy of the colormap first. cmap = copy.copy(mpl.cm.get_cmap("RdBu"))
  cmap.set_bad(cmap_bad)

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

# Prepare target dataset

Convert the dataset df_DMAleaks into a time-series