In [1]:
import sys
print(f'Interpreter dir: {sys.executable}')
import os

if os.path.basename(os.getcwd()) == 'notebooks':
    os.chdir('../')
    
print(f'Working dir: {os.getcwd()}')
%load_ext autoreload
%autoreload 2

Interpreter dir: /Users/jsg/Documents/GitHub/water_hackathlon/.venv_waterhack/bin/python3
Working dir: /Users/jsg/Documents/GitHub/water_hackathlon

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# (edited by Javier)

To begin with, let's try to merge:

- AWDataDictionary
- AWPropertyLeakData
- SmartMeterApr2017

The unique ID of _Unique Ref_ or _UniqueReference_ allows us to join all these tables by a single column.

In [4]:
aw_dict = pd.read_excel('data/raw/AWDataDictionary.xlsx')
aw_dict

,File Name,Field Name,Unit,Description
0,DMA15MinNetFlow,DMAName,Text,6 character code of the DMA the flow measureme...
1,DMA15MinNetFlow,Date/Time,Date/Time,15 minute timestamp of when the record was taken
2,DMA15MinNetFlow,m3/15 min value,m3/15 min,Amount of water that has passed through the me...
3,DMA15MinPressureData,DMAName,Text,6 character code of the DMA the flow measureme...
4,DMA15MinPressureData,Date/Time,Date/Time,15 minute timestamp of when the record was taken
5,DMA15MinPressureData,MHead Value,Bar,Pressure reading taken at the average pressure...
6,DMALeaks,DateRaised,Text,The date and time that the leak was created on...
7,DMALeaks,LeakType,Text,The type of leak that was repaired
8,DMALeaks,DMAName,Date/Time,6 character code of the DMA
9,AcornData,Unique Reference,Text,Unique reference for Point of interest
10,AcornData,Occupancy,Number,Estimated occupants at the property
11,AcornData,HouseholdAcornCategory,Number,Social economic classification of the property...
12,AWPropertyLeakData,Unique Reference,Text,Unique reference for Point of interest
13,AWPropertyLeakData,Date Leak Start,Date,Date the leak started at the customer's property
14,AWPropertyLeakData,Flow L/hr at Start,Number,Flow rate of the leak at its start (this is ba...
15,AWPropertyLeakData,Peak Flow date,Date,Date of the maximum flow rate of the leak. (th...
16,AWPropertyLeakData,Peak Flow,Number,Flow rate on the date of maximum leak flow rat...
17,AWPropertyLeakData,Date Fixed,Date,Date the leak stopped - determined by when the...
18,AWPropertyLeakData,Leak Location,Text,"If known, we give an Internal (inside the prop..."
19,AWPropertyLeakData,Internal Leak Type,Text,"If known, which appliance caused the leak"
20,AWPropertyLeakData,Toilet Type,Text,"If a toilet was the cause, what style is the t..."
21,AWPropertyLeakData,External leak type,Text,"If known, what caused the leak"
22,AWSmartMeterAttributes,Unique Reference,Text,Unique reference for Point of interest
23,AWSmartMeterAttributes,DMASHORTNAME,Text,8 character code of the DMA the flow rate meas...
24,AWSmartMeterAttributes,Bill Class grouping,Text,This indicates if the properties are Commercia...
25,AWSmartMeterAttributes,City,Text,City where the property is located
26,AWSmartMeterAttributes,Post Code,Text,Post Code Sector where the property is located
27,AWSmartMeterAttributes,Meter Location,Text,Indicates if the meter is fitted Internally or...
28,AWSmartMeterAttributes,My Use Registered,Text,Whether the customer has registered to use the...
29,AWSmartMeterAttributes,My Use Registered date,Date,This the date when the customer registered to ...
30,AWSmartMeterAttributes,My Use contacted,Text,If Yes then this customer was either written t...
31,AWMyUseMailingDates,Mailing dates,Date,The date on which either letters or emails pro...
32,AWMyUseMailingDates,Newmarket interventions,Text,These are the dates on which we contacted cust...
33,AWMyUseMailingDates,Norwich interventions,Text,These are the dates on which we contacted cust...
34,SmartMeterXXXX,Unique Reference,Text,Unique reference for Point of interest
35,SmartMeterXXXX,DateTime,Date,Hourly Date and Time stamp
36,SmartMeterXXXX,Consumption,Value,Consumption data from the smart meter - consum...

In [17]:
df_prop = pd.read_excel('data/raw/AWPropertyLeakData.xlsx')

In [18]:
df_prop

,Unique Ref,Date Leak Start,Flow L/hr at Start,Peak Flow date,Peak Flow,Date Fixed,Leak Location,Internal Leak Type,Toilet Type,External leak type
0,A7B4F1C4-E185-4A49-BE69-C2246CBBB5C9,2018-04-03,5,2018-04-25,5,2018-05-04,Internal,Toilet,Handle Syphon,NaN
1,BE9FC9C1-68DC-4AE5-AA33-1B1B4119FAE2,2018-04-17,49,2018-05-16,49,2018-05-26,Unknown,NaN,NaN,NaN
2,47C48AF1-1600-4120-8A2F-B626F8DC34F1,2018-09-02,4,2018-10-10,4,2018-10-11,Unknown,NaN,NaN,NaN
3,A8532631-527B-407E-B77F-5B781EBE5CEF,2018-03-19,3,2018-04-03,3,2018-06-20,External,NaN,NaN,Tap
4,3DA0EFE7-17FE-414B-B9F3-92B048BC0835,2018-11-03,13,2019-04-16,36,2019-04-17,Internal,Toilet,Push-Button,NaN
...,...,...,...,...,...,...,...,...,...,...
4921,37T252-n30U-258E-L408,2020-07-23,22,2020-08-04,22,NaT,Unknown,NaN,NaN,NaN
4922,208184EC-1E81-4C0F-BD2A-076A231C06FF,2020-07-24,36,2020-08-04,36,NaT,Unknown,NaN,NaN,NaN
4923,74B262-d12N-428T-B471,2020-07-25,49,2020-08-04,49,NaT,Unknown,NaN,NaN,NaN
4924,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN
4925,44W243-a88S-904H-M879,2020-07-25,141,2020-08-04,141,NaT,Unknown,NaN,NaN,NaN

In [19]:
df_smartatr = pd.read_excel('data/raw/AWSmartMeterAttributes.xlsx')

In [20]:
df_smartatr

,Unique Ref,DMASHORTNAME,Bill Class grouping,City,Post Code,Meter Location,My Use Registered,My Use Registered date,My Use contacted
0,01E91FB9-C6CA-43D6-8AB2-4724B8E183AA,NEWCENMA,Measured Domestic,NEWMARKET,CB8 9,External,No,NaT,Yes
1,025CC02F-2F7C-4547-B6F7-2305EEAD6E98,NEWCENMA,Commercial,NEWMARKET,CB8 9,External,No,NaT,Yes
2,02ABC9EA-DCAC-4D24-893E-DC242E4BC07F,NEWCENMA,Measured Domestic,NEWMARKET,CB8 9,External,No,NaT,NaN
3,02B6D30E-C99D-4E59-9C5F-0900F7255CE2,NEWCENMA,Measured Domestic,NEWMARKET,CB8 9,External,No,NaT,Yes
4,030FC39D-D3FB-489C-A03A-378C97AE5F9D,NEWCENMA,Measured Domestic,NEWMARKET,CB8 9,External,No,NaT,NaN
...,...,...,...,...,...,...,...,...,...
17637,81C249-s57P-513D-F431,NORFIFMA,Measured Domestic,NORWICH,NR6 7,External,No,NaT,NaN
17638,86I255-y24P-956H-W337,NORW21MA,Measured Domestic,NORWICH,NR6 7,External,No,NaT,NaN
17639,89B266-a57L-226G-Y469,NaN,NaN,NORWICH,NR6 7,Internal,No,NaT,NaN
17640,92B222-209E-581B-G031,NORFIFMA,Measured Domestic,NORWICH,NR6 7,External,No,NaT,NaN
17641,98M233-c34U-797O-B781,NaN,NaN,NORWICH,NR6 7,External,No,NaT,NaN

In [21]:
df_ap17 = pd.read_csv('data/raw/SmartMeterApr2017.txt')

In [22]:
df_ap17.shape

(3685273, 3)

In [23]:
df_ap17.head(4)

                        UniqueReference                 DateTime  Consumption
0  820585F0-0B7C-4E7A-B957-000248F7A76B  2017-04-01 00:00:00.000           20
1  820585F0-0B7C-4E7A-B957-000248F7A76B  2017-04-01 01:00:00.000            9
2  820585F0-0B7C-4E7A-B957-000248F7A76B  2017-04-01 02:00:00.000           25
3  820585F0-0B7C-4E7A-B957-000248F7A76B  2017-04-01 03:00:00.000           17

In [24]:
df_m1 = df_prop.merge(df_smartatr,on='Unique Ref')
df_m1

,Unique Ref,Date Leak Start,Flow L/hr at Start,Peak Flow date,Peak Flow,Date Fixed,Leak Location,Internal Leak Type,Toilet Type,External leak type,DMASHORTNAME,Bill Class grouping,City,Post Code,Meter Location,My Use Registered,My Use Registered date,My Use contacted
0,A7B4F1C4-E185-4A49-BE69-C2246CBBB5C9,2018-04-03,5,2018-04-25,5,2018-05-04,Internal,Toilet,Handle Syphon,NaN,BLOFLDMA,Measured Domestic,NORWICH,NR13 4,External,No,NaT,NaN
1,BE9FC9C1-68DC-4AE5-AA33-1B1B4119FAE2,2018-04-17,49,2018-05-16,49,2018-05-26,Unknown,NaN,NaN,NaN,BLOFLDMA,Measured Domestic,NORWICH,NR13 4,External,No,NaT,Yes
2,47C48AF1-1600-4120-8A2F-B626F8DC34F1,2018-09-02,4,2018-10-10,4,2018-10-11,Unknown,NaN,NaN,NaN,BLOFLDMA,Measured Domestic,NORWICH,NR13 4,External,No,NaT,Yes
3,A8532631-527B-407E-B77F-5B781EBE5CEF,2018-03-19,3,2018-04-03,3,2018-06-20,External,NaN,NaN,Tap,BLOFLDMA,Unmeasured Domestic,NORWICH,NR13 4,External,No,NaT,Yes
4,3DA0EFE7-17FE-414B-B9F3-92B048BC0835,2018-11-03,13,2019-04-16,36,2019-04-17,Internal,Toilet,Push-Button,NaN,BLOFLDMA,Unmeasured Domestic,NORWICH,NR13 4,External,No,NaT,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4816,6ADD4066-A82B-472C-8DF6-8C779AFD455D,2020-07-25,2,2020-08-04,2,NaT,Unknown,NaN,NaN,NaN,SWALSHMA,Measured Domestic,NORWICH,NR13 4,External,No,NaT,Yes
4817,8660978D-C713-454F-A5F4-2D3CF7C4D938,2020-07-25,7,2020-08-04,7,NaT,Unknown,NaN,NaN,NaN,NORFIFMA,Commercial,NORWICH,NR6 6,External,Yes,2018-12-20,Yes
4818,8602AC0D-61D2-4448-A9AA-1B66ED021658,2020-07-25,13,2020-08-04,13,NaT,Unknown,NaN,NaN,NaN,NEWCENMA,Measured Domestic,NEWMARKET,CB8 0,External,No,NaT,NaN
4819,208184EC-1E81-4C0F-BD2A-076A231C06FF,2020-07-24,36,2020-08-04,36,NaT,Unknown,NaN,NaN,NaN,NORW18MA,Measured Domestic,NORWICH,NR6 5,External,No,NaT,Yes
4820,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN,NEWSEVMA,Commercial,NEWMARKET,CB8 7,External,Yes,2019-07-16,NaN

In [25]:
df_m2 = pd.merge(df_m1,df_ap17, left_on='Unique Ref', right_on="UniqueReference")
df_m2

,Unique Ref,Date Leak Start,Flow L/hr at Start,Peak Flow date,Peak Flow,Date Fixed,Leak Location,Internal Leak Type,Toilet Type,External leak type,...,Bill Class grouping,City,Post Code,Meter Location,My Use Registered,My Use Registered date,My Use contacted,UniqueReference,DateTime,Consumption
0,7805A23E-8717-41B8-943C-591C39A532DC,2019-09-17,2,2020-07-15,5,NaT,Unknown,NaN,NaN,NaN,...,Measured Domestic,NEWMARKET,CB8 0,Internal,No,NaT,NaN,7805A23E-8717-41B8-943C-591C39A532DC,2017-04-01 00:00:00.000,0
1,7805A23E-8717-41B8-943C-591C39A532DC,2019-09-17,2,2020-07-15,5,NaT,Unknown,NaN,NaN,NaN,...,Measured Domestic,NEWMARKET,CB8 0,Internal,No,NaT,NaN,7805A23E-8717-41B8-943C-591C39A532DC,2017-04-01 01:00:00.000,0
2,7805A23E-8717-41B8-943C-591C39A532DC,2019-09-17,2,2020-07-15,5,NaT,Unknown,NaN,NaN,NaN,...,Measured Domestic,NEWMARKET,CB8 0,Internal,No,NaT,NaN,7805A23E-8717-41B8-943C-591C39A532DC,2017-04-01 02:00:00.000,0
3,7805A23E-8717-41B8-943C-591C39A532DC,2019-09-17,2,2020-07-15,5,NaT,Unknown,NaN,NaN,NaN,...,Measured Domestic,NEWMARKET,CB8 0,Internal,No,NaT,NaN,7805A23E-8717-41B8-943C-591C39A532DC,2017-04-01 03:00:00.000,0
4,7805A23E-8717-41B8-943C-591C39A532DC,2019-09-17,2,2020-07-15,5,NaT,Unknown,NaN,NaN,NaN,...,Measured Domestic,NEWMARKET,CB8 0,Internal,No,NaT,NaN,7805A23E-8717-41B8-943C-591C39A532DC,2017-04-01 04:00:00.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348281,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN,...,Commercial,NEWMARKET,CB8 7,External,Yes,2019-07-16,NaN,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2017-04-23 18:00:00.000,0
1348282,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN,...,Commercial,NEWMARKET,CB8 7,External,Yes,2019-07-16,NaN,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2017-04-23 19:00:00.000,0
1348283,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN,...,Commercial,NEWMARKET,CB8 7,External,Yes,2019-07-16,NaN,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2017-04-23 20:00:00.000,1
1348284,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN,...,Commercial,NEWMARKET,CB8 7,External,Yes,2019-07-16,NaN,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2017-04-23 21:00:00.000,0
1348285,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2020-07-23,58,2020-08-04,58,NaT,Unknown,NaN,NaN,NaN,...,Commercial,NEWMARKET,CB8 7,External,Yes,2019-07-16,NaN,06F79FCA-8879-40B8-91F7-4669A48A2EE6,2017-04-23 22:00:00.000,0